// Fichier où mettre le style propre à chaque projet

.pic-home-01
  height: 80%
  width: 80%
  background-size: 42%
  background-position: -12% -5%

.pic-home-02
  height: 100%
  width: 100%
  background-size: 250px
  background-position: 100% 0%

.pic-home-03
  height: 100%
  width: 100%
  // background-size: 30%
  // background-position: 130% 140%
  background-size: 600px
  background-position: bottom -350px right -350px