
// Utilities

// Base

html, body
  height: 100%
  margin: 0

// MENU
.side-menu
  transform: translateX(-100%)
  transition: transform .5s ease
.side-menu_opened
  transform: translateX(0)

.block-menu-toggler
  > a
    display: inline-block
		text-align: center
  .block-menu
    display: none
    text-align: left
  &.active
    > a
      font-weight: bold

@media (min-width: 1024px)
  .block-menu-toggler
    > a::before
      display: block
      content: attr(title)
      font-weight: bold
      height: 0
      overflow: hidden
      visibility: hidden
    &.active
      .block-menu
        font-weight: normal
        display: block

.trix-content
  h1
    @apply text-xl
  a
    text-decoration: underline

.footer-line
  height: 15px
.footer-line-xl
  height: 2rem