
// Utilities

// Base

html, body
  height: 100%
  margin: 0
  font-family: 'ITC Avant Garde Gothic Std Book'
  background-image: url("../images/bruit.png")
  background-repeat: repeat

// MENU
.mobile-menu
  transform: translateY(-100%)
  transition: transform .5s ease
.mobile-menu_opened
  transform: translateY(0)

.block-menu-toggler
  > a
    display: inline-block
		text-align: center
  > a.active
    font-family: 'ITC Avant Garde Gothic Std Demi'

  .block-menu
    display: none
    text-align: left
    z-index: 3
  &.active
    > a
      font-family: 'ITC Avant Garde Gothic Std Demi'

@media (min-width: 1024px)
  .block-menu-toggler
    > a::before
      display: block
      content: attr(title)
      font-family: 'ITC Avant Garde Gothic Std Demi'
      height: 0
      overflow: hidden
      visibility: hidden
    &.active
      .block-menu
        font-weight: normal
        display: block

.picto-link
  @apply text-primary
  text-transform: uppercase
  &:hover, &:active, &.active
    font-family: 'ITC Avant Garde Gothic Std Medium'
@media (min-width: 1024px)
  .picto-link
    display: flex
    flex-direction: column
    align-items: center

.trix-content
  h1
    @apply text-xl
    text-transform: uppercase
  a
    text-decoration: underline
    @apply text-primary
  ul
    list-style: disc inside
  ol
    list-style-type: decimal
    list-style-position: inside

.bg-tercery
  background-color: var(--color-tercery)

.footer-line
  height: 15px
.footer-line-xl
  height: 2rem
.footer-title
  @apply text-lg
  @apply uppercase
  @apply text-primary
  margin-bottom: 1rem

.footer-link
  @apply uppercase
  @apply text-gray-600
  @apply text-xs

.separator
  border-left: 1px solid var(--color-primary)
  &.white
    border-color: white

.sr-only
  position: absolute
  clip: rect(1px, 1px, 1px, 1px)
  padding: 0
  border: 0
  height: 1px
  width: 1px
  overflow: hidden


.bg-pic
  background-repeat: no-repeat
  background-attachment: scroll
  position: absolute

.pic-home-01
  height: 100%
  width: 25%
  background-size: 90%
  background-position: -40% 0%

.pic-home-02
  height: 100%
  width: 100%
  background-size: 250px
  background-position: 100% 0%

.pic-home-03
  height: 100%
  width: 100%
  // background-size: 30%
  // background-position: 130% 140%
  background-size: 600px
  background-position: bottom -350px right -350px

.bg-primary-bis
  background-color: var(--color-primary)

.tabs
  a.active
    @apply text-primary
    border: 1px solid #ccc
    border-bottom: 2px solid var(--color-primary)
    background-color: #fff

.btn
  @apply inline-flex
  @apply items-center
  @apply pt-3
  @apply pb-2
  @apply px-4
  @apply text-sm
  @apply uppercase
  cursor: pointer

.btn-default
  @apply border
  @apply border-gray-300
  @apply bg-gray-50
  @apply text-gray-500
  &:hover
    @apply bg-gray-100

.btn-primary
  @apply bg-primary
  @apply text-white
  &:hover
    @apply bg-primary-dark

.main-title
  @apply text-4xl
  @apply text-primary
  @apply itc-demi
  @apply uppercase

.title-2
  @apply text-2xl
  @apply text-primary
  @apply itc-demi
  @apply uppercase