$side-menu-width: 12rem

// Utilities

.left-side-menu
  left: $side-menu-width

.w-screen-side-menu
  width: calc(100vw - #{$side-menu-width})

// Base

html, body
  height: 100%
  margin: 0

.side-menu
  transform: translateX(-100%)
  transition: transform .5s ease
.side-menu_opened
  transform: translateX(0)


