= render layout: 'admin/profiles/layout_form' do

  = form_for(@profile, as: :profile, \
    url: admin_profile_path(@profile), html: {class: "form-horizontal"}) do |f|
    =  render partial: "form", locals: {f: f}