= favicon_pack_tag 'favicon/favicon.svg', rel: "shortcut icon"
= favicon_pack_tag 'favicon/apple-touch-icon.png', rel: "apple-touch-icon", sizes: "180x180"
= favicon_pack_tag 'favicon/favicon-32x32.png', type: "image/png", sizes: "32x32"
= favicon_pack_tag 'favicon/favicon-16x16.png', type: "image/png", sizes: "16x16"
/ <meta name="msapplication-TileColor" content="#da532c">
/ <meta name="msapplication-config" content="<%= asset_path 'favicon/browserconfig.xml' %>">
/ <meta name="theme-color" content="#ffffff">
