= render layout: 'admin/staff_members/layout_form' do
  = form_for(@staff_member, as: :staff_member, \
    url: admin_staff_member_path(@staff_member), html: {class: "form-horizontal"}) do |f| 

    =  render partial: "form", locals: {f: f}